#userinfortable{
        background-image:url("../images/registerbox.png");
        background-repeat: no-repeat;
        width:20em;
        height:20em;
        position: relative;
        top:3em;
        left:1em;
}
#insidePage{
        background-image:url("../images/tranbackground.png");
        background-repeat: no-repeat;
        width:1024px;
        height:900px;
	margin-left:auto;
	margin-right:auto;
}
#nickname{
        margin-left:auto;
        margin-right:auto;
        position:relative;
        top:0.5em;
        left:0em;
        font-size:3em;
        width:6em;
        border-bottom:2px solid BLACK;
        text-align:center;
}
#tweet{
        border-right:2px solid BLACK; border-bottom:2px solid BLACK; position:relative;
        width:5em;
        height:4em;
        top:1.2em;
        left:0.5em;
        float:left;
        text-align:center;
        font-size:1.2em;
}
#following{
        border-right:2px solid BLACK;
        border-bottom:2px solid BLACK;
        position:relative;
        width:5em;
        height:4em;
        top:1.2em;
        left:0.5em;
        float:left;
        text-align:center;
        font-size:1.2em;
}
#followers{
        border-left:2px solid BLACK;
        border-bottom:2px solid BLACK;
        position:relative;
        width:5em;
        height:4em;
        top:1.2em;
        left:0.4em;
	float:left;
        text-align:center;
        font-size:1.2em;
}
.numnum{
        position:relative;
        top:0.1em;
}
.numtips{
        position:relative;
        top:-2.2em;
        font-size:0.9em;
        font-family:"New Times Roman";
}
#tweettable{
        width:700px;
        height:860px;
        margin:0;
        padding:0;
        background-image:url("../images/tweetbox.png");
        background-repeat: no-repeat;
        float:right;
        position:relative;
        top:-37.5em;
        left:1.5em;
}
#tweettitle{
        position:relative;
        top:1em;
	left:-2em;
        border-bottom:1.5px solid BLACK;
        width:550px;
        margin-left:auto;
        margin-right:auto;
}
#tweettitletext{
        position:relative;
        top:0em;
        left:25em;
}
#tweettile{
	float:right;
	float:bottom;
	position:relative;
	right:8em;
}
.tweetbox{
	position:relative;
	left:-2em;
        width:550px;
        margin-left:auto;
        margin-right:auto;
	height:100%;
}
.tweetboxupper{
	padding:1em;
}
.tweetboxupperleft{
	float:left;
}
	
.tweetboxupperright{
	float:right;
}
.tweetboxlower{
	padding:1em;
        border-bottom:1.5px solid BLACK;
}
#copyrights{
	position:relative;
	top:35em;
}
#lefttop{
	position:relative;
	top:-1em;
	left:-2em;
}
#home{
	background-image:url("../images/home.png");
	background-repeat:no-repeat;
	width:40px;
	height:40px;
	margin-right:4em;
}
#homedown{
	background-image:url("../images/homedown.png");
	background-repeat:no-repeat;
	width:40px;
	height:40px;
	margin-right:4em;
}
#home:hover{
	background-image:url("../images/homedown.png");
	background-repeat:no-repeat;
}
#topic{
	background-image:url("../images/talk.png");
	background-repeat:no-repeat;
	width:40px;
	height:40px;
	margin-right:4em;
}
#topicdown{
	background-image:url("../images/talkdown.png");
	background-repeat:no-repeat;
	width:40px;
	height:40px;
	margin-right:4em;
}
#topic:hover{
	background-image:url("../images/talkdown.png");
	background-repeat:no-repeat;
}
#people{
	margin-right:4em;
	background-image:url("../images/person.png");
	background-repeat:no-repeat;
	width:40px;
	height:40px;
}
#peopledown{
	margin-right:4em;
	background-image:url("../images/persondown.png");
	background-repeat:no-repeat;
	width:40px;
	height:40px;
}
#people:hover{
	background-image:url("../images/persondown.png");
	background-repeat:no-repeat;
}
.lefttip{
	color:white;
	font-size:1.5em;
	position:relative;
	top:-0.8em;
}
#settings{
	position:relative;
	top:-8em;
}
#senttweettable{
        background-image:url("../images/registerbox.png");
        background-repeat: no-repeat;
        width:20em;
        height:20em;
        position: relative;
        top:-3em;
        left:1em;
}
.textfield{
	position:relative;
	left:1.5em;
	top:1.5em;
}
#sendbutton{
	position:relative;
	top:2em;
	left:12.5em;
}
#search{
	position:relative;
	top:-5.5em;
	left:45em;
	width:100%;
	height:100%;
}
#searchbuttonarea{
	position:relative;
	top:-1em;
	left:10.5em;
	width:100%;
	height:100%;
}
#searchbutton{
	border-style:none;
	width:35px;
	height:35px;
	background:none;
        background-image:url("../images/search.png");
        background-repeat: no-repeat;
}
#searchbutton:active{
        background-repeat: no-repeat;
        background-image:url("../images/searchdown.png");
		
}
